.imperioColorRojo
{
    background-color: red;
}
#darthvader
{
font-size: 24px;
}
.separacion
{
    letter-spacing: 5px;
}

.rebeldesColorAzul
{
    background-color: blue;
}
#luckskywalker
{
font-style: italic;
}

.apoyo
{
    text-align: center;
}
.bordes
{
    border: 5px dashed black;
}
.mayusculas
{
    text-transform: uppercase;
}
